<div class="spacer">
</div>
<h2 align="center">All Whiskies</h2>
<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    {{#if noMessages}}
      <div></div>
    {{else}}
      <div id="success" class="alert alert-success">
        {{successMsg}}
      </div>
    {{/if}}
  </div>
</div>
{{#each products}}
  <div class="row">
    {{#each this}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img
            src="{{this.imagePath}}"
            alt="{{this.title}}"
            class="img-fluid"
          />
          <div class="caption">
            <h3>{{this.title}}</h3>
            <h6>{{this.category}}</h6>
            <h5><strong> ${{this.price}} </strong></h5>
            <p><a
                href="/cart/{{this._id}}"
                class="btn btn-success"
                style="width:50%"
                role="button"
              ><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
            <p>{{this.description}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}

<!--<h2 id="speyside" align="center">Speyside</h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/dwx0gkm8r0ogvdz/balvenie12.jpg?dl=0" alt="Balvenie 12 Year" class="img-fluid">
      <div class="caption">
        <h3>Balvenie 12 Year</h3>
        <h5><strong> $50.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A Speyside classic. A wonderful after-dinner malt, Balvenie Doublewood's extra complexity and richness are a result of a second maturation in fresh sherry casks.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/ncjju1m4239azki/aberlourAbunadh.jpg?dl=0" alt="Aberlour Abunadh" class="img-fluid">
      <div class="caption">
        <h3>Aberlour A'Bunadh</h3>
        <h5><strong> $65.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A Speyside sherry bomb. As always, matured in oloroso sherry butts – big, rich and full of fruit and nut flavours.
        One of the most popular single malts among connoisseurs.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/b8zurlwizxqvxar/benRiachCS.jpg?dl=0" alt="Ben Riach Cask Strength" class="img-fluid">
      <div class="caption">
        <h3>Ben Riach Cask Strength</h3>
        <h5><strong> $75.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>The Ben Riach distillers in Speyside have combined whisky matured in bourbon, oloroso sherry and virgin oak casks. Intense, tasty stuff.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/sq6q8ipglusu3cc/macallan18.jpg?dl=0" alt="Macallan 18 Year" class="img-fluid">
      <div class="caption">
        <h3>Macallan 18 Year</h3>
        <h5><strong> $190.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Matured using a combination of Exceptional Oak Casks; Spanish oak casks seasoned with sherry,
           American oak casks seasoned with sherry and American oak casks seasoned with bourbon. An extraordinarily smooth, delicate yet complex Single Malt.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/nrxsshp7xtdebkm/macallan12.jpg?dl=0" alt="Macallan 12 Year" class="img-fluid">
      <div class="caption">
        <h3>Macallan 12 Year</h3>
        <h5><strong> $65.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Deliciously smooth, with rich dried fruits and sherry, balanced with woodsmoke and spice. A Speyside classic and one of
        the most well-known single malts in the world.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/xlanyler4ez9lid/glenfiddich15.jpg?dl=0" alt="Glenfiddich 15 Year" class="img-fluid">
      <div class="caption">
        <h3>Glenfiddich 15 Year Solera</h3>
        <h5><strong> $45.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Immensely popular Glenfiddich variant. Using a Solera system common in the maturation of quality sherry, 15yo malt from three
          different types of casks is married together in a wooden vat, which is constantly topped up to ensure the quality is maintained.</p>
      </div>
    </div>
  </div>
</div>
<h2 id="islay" align="center">Islay</h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/5y7fmp370a7flkq/lagavulin16.jpg?dl=0" alt="Lagavulin 16 Year" class="img-fluid">
      <div class="caption">
        <h3>Lagavulin 16 Year</h3>
        <h5><strong> $60.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>The Islay representative in the 'Classic Malts' series is a deep, dry and exceptionally peaty bruiser. Probably the most
           pungent of all Islay malts, Lagavulin is not for the faint-hearted but inspires fanatical devotion in its many followers.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/q6d0fgxmgjurwsd/lagavulin12.jpg?dl=0" alt="Lagavulin 12 Year" class="img-fluid">
      <div class="caption">
        <h3>Lagavulin 12 Year</h3>
        <h5><strong> $120.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>The Diageo Special Releases welcomes back the Lagavulin 12 for 2018. This is the 15th incarnation of the Islay single malt,
           which has only missed the very first edition in 2002. The limited release was matured in refill American Oak hogsheads and bottled at 57.8% ABV.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/520j9zfgoffv6h7/lagavulinDE.jpg?dl=0" alt="Lagavulin Distillers Edition" class="img-fluid">
      <div class="caption">
        <h3>Lagavulin Distillers Edition</h3>
        <h5><strong> $100.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Lagavulin's Distillers Edition bottlings are allowed a finishing period in casks that previously held sweet, sticky Pedro Ximénez Sherry.
          The result is a magnificent blend of classic Islay salty peat smoke and intense Sherried sweetness. This edition
          was bottled at 43% ABV in 2017.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/b3maq3z9u3o398o/ardbeg10.jpg?dl=0" alt="Ardbeg 10 Year" class="img-fluid">
      <div class="caption">
        <h3>Ardbeg 10 Year</h3>
        <h5><strong> $45.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>For peat lovers, Ardbeg 10 Year Old is probably the highest-quality 'entry-level' single malt on the market, and the
          distillery many Islay connoisseurs would choose as their favourite. A whirlwind of peat and complex malty flavours.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/fxfhj9f8j4smj01/ardbegUigeadail.jpg?dl=0" alt="Ardbeg Uigeadail" class="img-fluid">
      <div class="caption">
        <h3>Ardbeg Uigeadail</h3>
        <h5><strong> $70.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A fine drop of Ardbeg bottled at cask strength. A marriage of Ardbeg from bourbon barrels and sherry butts which gives a
           sweet and smoky finish to this malt. Uigeadail is the loch from which all Ardbeg water flows. An absolutely stunning whisky.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/ix4rgsqbxpc3i2w/ardbegSupernova.jpg?dl=0" alt="Ardbeg Supernova" class="img-fluid">
      <div class="caption">
        <h3>Ardbeg Supernova</h3>
        <h5><strong> $450.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Ardbeg Supernova has been a phenomenon since the Advance Committee Release sold out in a matter of hours back in January 2009.
          This is the peatiest Ardbeg ever at over 100ppm. </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/gyr4carchmstv7a/laphroaig10.jpg?dl=0" alt="Laphroaig 10 Year" class="img-fluid">
      <div class="caption">
        <h3>Laphroaig 10 Year</h3>
        <h5><strong> $45.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Laphroaig 10yo is a full-bodied, smoky gem, with a residual sweetness and a hint of salt amid the seaweedy, peaty characters
           before a long warming finish. A classic dram.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/m1jkdr8rrybrffi/laphroaig10CS.jpg?dl=0" alt="Laphroaig 10 Year Cask Strength" class="img-fluid">
      <div class="caption">
        <h3>Laphroaig 10 Year CS</h3>
        <h5><strong> $100.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Batch three of Laphroaig's new cask strength 10 year old. This is a stunning whisky with oodles (literally oodles) of complexity and flavour.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/0ui9r5pdg0jgihv/caolIla12.jpg?dl=0" alt="Caol Ila 12 Year" class="img-fluid">
      <div class="caption">
        <h3>Caol Ila 12 Year</h3>
        <h5><strong> $50.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Caol Ila 12 Year Old is of medium weight, but still packing plenty of potent phenols, this is a refined, powerful dram with
          a compensating oiliness. A balanced, peaty beauty..</p>
      </div>
    </div>
  </div>
</div>
<h2 id="highland" align="center">Highland</h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/h6zcxuibcd01rag/clynelish14.jpg?dl=0" alt="Clynelish 14 Year" class="img-fluid">
      <div class="caption">
        <h3>Clynelish 14 Year</h3>
        <h5><strong> $45.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Clynelish is the successor to the now-silent Brora, built opposite the original distillery and producing a top-quality rich,
          smoky dram. One of the best entry-level proprietary bottlings available from any distillery.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/z65bhgearvdfxut/edradour10.jpg?dl=0" alt="Edradour 10 Year" class="img-fluid">
      <div class="caption">
        <h3>Edradour 10 Year</h3>
        <h5><strong> $40.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A tiny distillery in Perthshire is home to Edradour, one of Scotland's most endearingly different malts. Delicious honey
          notes complimented by an oily mouthfeel and a stylish finish.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/mksib2vrdlqx2lg/glenmorangie18.jpg?dl=0" alt="Glenmorangie 18 Year" class="img-fluid">
      <div class="caption">
        <h3>Glenmorangie 18 Year</h3>
        <h5><strong> $85.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A wonderfully creamy and thick 18 year old dram, matured for 15 years in ex bourbon casks before being finished in Oloroso
          sherry casks. An exquisite, tropical-fruit driven Glenmorangie.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/tqbwqzwpybaqcva/royalBrackla12.jpg?dl=0" alt="Royal Brackla 12 Year" class="img-fluid">
      <div class="caption">
        <h3>Royal Brackla 12 Year</h3>
        <h5><strong> $50.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A 2015 release as part of the Last Great Malts series, Royal Brackla 12 Year Old is finished in first-fill Oloroso sherry
           casks and is light and spicy with notes of vanilla and black pepper.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/8ti8q2ek4beoid5/oldPulteney17.jpg?dl=0" alt="Old Pulteney 17 Year" class="img-fluid">
      <div class="caption">
        <h3>Old Pulteney 17 Year</h3>
        <h5><strong> $90.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A delicious Highland dram from Old Pulteney, this 17yo is comprised of 90% refill bourbon casks with the remainder being
           from oloroso casks. Lovely sweet aromas of butterscotch, honey and chocolate, with some faint salt and oak spice on the palate.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/b2qan5v1azz2p4t/oban14.jpg?dl=0" alt="Oban 14 Year" class="img-fluid">
      <div class="caption">
        <h3>Oban 14 Year</h3>
        <h5><strong> $45.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>The Western Highland representative in Diageo's 'Classic Malt' series, Oban 14yo is a superb, full-blooded fruity malt with
          a whiff of heather and more than a hint of smoke.</p>
      </div>
    </div>
  </div>
</div>
<h2 id="island" align="center">Island</h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/rilbytrvxijt8j1/arran14.jpg?dl=0" alt="Arran 14 Year" class="img-fluid">
      <div class="caption">
        <h3>Arran 14 Year</h3>
        <h5><strong> $50.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>As has always been the case with Arran's malt, this has been neither coloured nor chill-filtered and has been bottled at
          a sensible drinking strength of 46%, for which the management deserve maximum kudos.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/01q7qcjsrcn7g0d/hp18.jpg?dl=0" alt="Highland Park 18 Year" class="img-fluid">
      <div class="caption">
        <h3>Highland Park 18 Year</h3>
        <h5><strong> $130.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A superb 18 year old from the Highland Park distillery and a winner of a Gold Medal at the 2005 San Francisco World Spirits Competition.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/bt5d59v31szv2gi/ledaig18.jpg?dl=0" alt="Ledaig 18 Year" class="img-fluid">
      <div class="caption">
        <h3>Ledaig 18 Year</h3>
        <h5><strong> $150.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>The Tobermory distillers on the Isle of Mull also know their way around peated malt for sure. This is the 18 Year Old Ledaig
          single malt, which offers up hearty phenols, smoky herbs, cracked black pepper and balancing waves of Sherry-soaked fruit. Excellent stuff.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/tedf0gbj8emu8pw/talisker10.jpg?dl=0" alt="Talisker 10 Year" class="img-fluid">
      <div class="caption">
        <h3>Talisker 10 Year</h3>
        <h5><strong> $35.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A massive success as the island representative in Diageo's 'Classic Malts' series, Talisker 10yo's profile keeps increasing
           as more fans discover its intense coastal spicy, peaty character. A truly elemental malt.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/2d6lwek07wo8586/talisker18.jpg?dl=0" alt="Talisker 18 Year" class="img-fluid">
      <div class="caption">
        <h3>Talisker 18 Year</h3>
        <h5><strong> $105.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A must have for any Talisker fan. The 18 year old was hugely well received by just about everyone, it took the title Best
          Whisky in the World at the 2007 World Whiskies Awards too.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/dhoqz13jpc2kt6m/greyjoyTalisker.jpg?dl=0" alt="House Greyjoy & Talisker Select Reserve" class="img-fluid">
      <div class="caption">
        <h3>House Greyjoy & Talisker</h3>
        <h5><strong> $70.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Part of the Game of Thrones Single Malts Collection, with its golden copper colour
           provided by the use of heavily charred, ex-Bourbon American Oak casks - less grey, more joy in this amazing bottle of whisky.
           With the Greyjoys rulers of the Iron Islands, the coastal Talisker distillery on the Isle of Skye is a perfect pairing</p>
      </div>
    </div>
  </div>
</div>
<h2 id="campbeltown" align="center">Campbeltown</h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/jw461r79hnhcfrp/springbank10LB.jpg?dl=0" alt="Springbank 10 Year Local Barley" class="img-fluid">
      <div class="caption">
        <h3>Springbank 10 Year Local Barley</h3>
        <h5><strong> $60.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Another stunning release from Springbank's popular Local Barley series. This 10 year old single malt was made with barley
           that was grown locally (which you could probably have guessed from the name, but it's always nice to be clear on things),
            and was aged for a decade in 70% bourbon casks and 30% Sherry casks.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/aw3b753nhimqvqc/springbank12CS.jpg?dl=0" alt="Springbank 12 Year Cask Strength" class="img-fluid">
      <div class="caption">
        <h3>Springbank 12 Year Cask Strength</h3>
        <h5><strong> $80.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>A staggeringly good cask strength edition of the 12 year old Springbank. 60% matured in first fill and the remainder in
          refill sherry hogsheads. A favourite amongst Campbeltown whisky fans already.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/01xm07fdulvwfxz/longrowRed11.jpg?dl=0" alt="Longrow Red 11 Year Port Cask" class="img-fluid">
      <div class="caption">
        <h3>Longrow Red 11 Year Port Cask</h3>
        <h5><strong> $110.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Longrow is the peaty whisky produced at Springbank distillery. The third instalment in the series has been fully matured
          in ex-port casks. Expect a peaty yet fruity experience.</p>
      </div>
    </div>
  </div>
</div>
<h2 id="bourbon-rye" align="center">Bourbon & Rye</h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/4yl7hmap8v27zcf/blantonsSTFB.jpg?dl=0" alt="Blanton's SFTB" class="img-fluid">
      <div class="caption">
        <h3>Blanton's STFB</h3>
        <h5><strong> $80.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Always popular among bourbon lovers, Blanton's Straight From The Barrel doesn't disappoint. Single cask bourbon, bottled
          at cask strength after being matured in Buffalo Trace's famous Warehouse H. This edition comes from cask 77 and at 65.15% abv.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/woe9ai8pahhvvzg/bookers.jpg?dl=0" alt="Booker's" class="img-fluid">
      <div class="caption">
        <h3>Booker's</h3>
        <h5><strong> $85.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Booker Noe first released his signature bourbon in 1992. Using 200 year old traditional methods, this is bottled straight
           from the barrel without adding anything and is unfiltered. Aged for at least six years, it has notes of vanilla and mocha.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://dl.dropboxusercontent.com/s/iiysrsfw6j5iuf5/rittenhouseRye.jpg?dl=0" alt="Rittenhouse Rye" class="img-fluid">
      <div class="caption">
        <h3>Rittenhouse Rye</h3>
        <h5><strong> $35.00 </strong></h5>
        <p><a href="#" class="btn btn-success" style="width:50%" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
        <p>Very popular with rye aficionados, this must be tried by American whiskey enthusiasts. This complex, potent spirit is perfect
          for a rye Manhattan, and amazingly won 'World's Best American Whiskey' at the World Whisky Awards 2010, beating off competition from George T. Stagg</p>
      </div>
    </div>
  </div>
</div>-->