extends layout.pug

block content
  h3= park.parkName
  div
    ul
      li= `Location: ${park.city}, ${park.provinceState} ${park.country}`
      li= `Opened: ${park.opened}`
      li= `Size: ${park.size}`
  div
    p= park.description
  div(class='py-4')
      a(class='btn btn-primary' href=`/park/edit/${park.id}` role='button') Edit
      a(class='btn btn-danger ml-2' href=`/park/delete/${park.id}` role='button') Delete
      a(class='btn btn-warning ml-2' href='/parks' role='button') Return to List
