<div class="page-header">
  <%= link_to new_forest_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Forest
  <% end %>
  <h1>Listing forests</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Climate</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @forests) do |forest| %>
            <td><%= forest.name %></td>
            <td><%= forest.size %></td>
            <td><%= forest.latitude %></td>
            <td><%= forest.longitude %></td>
            <td><%= forest.climate %></td>
            <td><%= link_to 'Show', forest %></td>
        <td><%= link_to 'Edit', edit_forest_path(forest) %></td>
        <td><%= link_to 'Destroy', forest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
