<div class="block box {{isValid}}">
  <div class="previous">
    Previous Hash:
    <pre>{{previous}}</pre>
  </div>
  <div class="data">
    Move Data:
    <code>{{data}}</code>
  </div>
  <div class="nonce">
    Nonce:
    {{nonce}}
    <div class="actions">
      <button
        class="button generate-button is-small"
        {{actionButtonsDisabled}}
      >Generate!</button>
      <button
        class="button mine-button is-small is-success"
        {{actionButtonsDisabled}}
      >Mine!</button>
    </div>
  </div>
  <div class="hash">
    Block Hash:
    <pre>{{hash}}</pre>
  </div>
</div>