!!!
%html
  %head
    %link{ href: '/main.css', rel: :stylesheet, type: 'text/css' }

  %body
    %article.invoice
      .logo
        %img{ src: '/owner/logo.png' }

      %h1.title= t.invoice.title

      %section.meta
        %h1 Meta
        %dl.number
          %dt #{t.invoice.meta.number}:
          %dd= number
        %dl.emit_date
          %dt #{t.invoice.meta.emit_date}:
          %dd= emit_date
        %dl.due_date
          %dt #{t.invoice.meta.due_date}:
          %dd= due_date

      %section.owner_info
        %h1= t.invoice.owner_info.title
        %address= owner

      %section.client_info
        %h1= t.invoice.client_info.title
        %address= client

      %section.details
        %h1= t.invoice.details.title
        %table

          %thead
            %tr
              %th.quantity=              t.invoice.details.quantity
              %th.description=           t.invoice.details.description
              %th.unitary_price.numeric= t.invoice.details.unitary_price
              %th.total.numeric=         t.invoice.details.total

          %tbody
            - entries.each do |e|
              %tr.entry
                %td
                  1
                %td
                  %dl
                    %dt.name= e.name
                    %dd.desc= e.desc
                    %dd.hours #{e.hours}h
                    %dd.hourly_rate #{hourly_rate}
                %td.ex_vat_total.numeric= e.ex_vat_total
                %td.ex_vat_total.numeric= e.ex_vat_total

          %tfoot
            - colspan = 3
            %tr.ex_vat_total
              %td.numeric{ colspan: colspan } #{ t.invoice.details.ex_vat_total}:
              %td.numeric= ex_vat_total
            %tr.vat_total
              %td.numeric{ colspan: colspan } +#{t.invoice.details.vat_total} #{ vat }%:
              %td.numeric= vat_total
            %tr.inc_vat_total
              %td.numeric{ colspan: colspan } #{ t.invoice.details.inc_vat_total}:
              %td.numeric= inc_vat_total

