<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta charset="UTF-8">
    <meta name="description" content="<%= @seo_description %>">
    <meta name="keywords" content="<%= @seo_keywords %>">
    <meta name="author" content="<%= @seo_author %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag 'favicon/favicon.ico' %>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <div class="container">
      <%= render "shared/blog_nav" %>
      <%= render "shared/blog_jumbotron" unless logged_in?(:site_admin) %>
      <!-- <%= render "shared/blog_featured" %> Planned for later -->
    </div>

    <%= render partial: "shared/social_links_side", locals: {layout: "blog"} %>
    <main role="main" class="container">
      <div class="row">
        <%= yield %>
        <%= render "shared/blog_sidebar" %>
       </div>
    </main>

    <%= alerts %>

    <%= render "shared/blog_footer" %>
  </body>
</html>
