.gridSystem
  .row
    = simple_form_for expression, html: {class: 'form-horizontal', data: { purpose: 'add-expression-form' } } do |f|

      .row

        .span6
          = f.input :body,              as: :string
          = f.input :meaning,           as: :string
          -# f.input :source_type,      as: :radio_buttons, collection: Expression::SOURCE_TYPES
          = f.input :created_by_author, as: :radio_buttons
          = f.input :source_info, input_html: { rows: 6, cols: 40 }

          - if action_name == 'new'
            .control-group
              %label.control-label= t(:choose_expression_language)
              .custom-controls= render 'languages/list', custom_class: 'nav-pills'


        .span5.offset1
          = todo do
            %h3 Tips for adding great expressions - Please read these instructions before submitting
            %ol
              %li
                Add the expressions you love, you cherish that you find fun or surprise you.
              %li
                Add idiomatic expressions ( an idiomatic expression in a way to tell something, without saying it directly)
              %li
                Respect the rules


      .row
        .form-actions
          = f.submit_button
