import * as React from 'react' 
const classes = require('./<%= name %>.css')

export interface <%= name %>Props {

}

export interface <%= name %>State {

}

export class <%= name %> extends React.Component <<%= name %>Props, <%= name %>State> {
  constructor(props) {
    super(props)
  }

  render() {
    return(
      <div className={classes.<%= name %>}>
          <h2>Ashish Patel</h2>
      </div>
    )
  }
}
