!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body



    %h1 Someone commented one of your expressions !

    %p
      = link_to @commenter, user_url(@commenter, locale: :en)
      commented your expression:

    %blockquote
      = link_to @comment.commentable, polymorphic_url(@comment.commentable, locale: :en)

    %p And said:
    %blockquote= @comment.body

    %p Have a great day !
    %p Expresto




    %hr




    %h1 Une personne a commenté une de vos expressions !

    %p
      = link_to @commenter, user_url(@commenter, locale: :fr)
      a commenté votre expression:

    %blockquote
      = link_to @comment.commentable, polymorphic_url(@comment.commentable, locale: :fr)

    %p Et a dit:
    %blockquote= @comment.body

    %p Belle journée !
    %p Expresto
