<!DOCTYPE html>
<html>
  <head>
    <title><%= @seo_title %></title>
    <%= csrf_meta_tags %>

    <meta charset="UTF-8">
    <meta name="description" content="<%= @seo_description %>">
    <meta name="keywords" content="<%= @seo_keywords %>">
    <meta name="author" content="<%= @seo_author %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="LvvkVf9fmNcJq7f4v3qkEgMMCvCtLTsI88EOwlQU23I" />
    <%= favicon_link_tag 'favicon/favicon.ico' %>

    <%= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=UA-115179285-1", async: Rails.env.production? %>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115179285-1');
    </script>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/blog_nav" %>

    <%= render partial: "shared/social_links_side", locals: {layout: "app"} %>
    <main role="main">
      <%= yield %>
    </main>

    <%= alerts %>

    <%= render "shared/portfolio_footer" %>
    <%= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=UA-115179285-1", async: Rails.env.production? %>
  </body>
</html>
