%tr{ the('fact') }

  %td.day{ the('day') }
    = day

  %td.description{ the('description') }
    = description

  %td.start-time{ the('start-time') }
    = start_time

  %td.end-time{ the('end-time') }
    = end_time

  %td.minutes{ the('minutes') }
    = duration
