<% include ../partials/header %>

<section id="campdescription">
<div class="container">
	    <div class="row" id="primary">
	    
		    <main id="content" class="col-sm-8" role="main">
		    	
		    	<article class="post">
		    		<header>
		    			<h3><a href="#"><%= campground.name %></a></h3>
		    			<div class="post-details">
			    			<i class="fa fa-user"></i> <%= campground.author.username %>
							<i class="fa fa-clock-o"></i> <time><%= campground.date %></time>
							<i class="fa fa-folder"></i> <a href="">Hiking</a>, <a href="">Travels</a>
							<i class="fa fa-tags"></i> Tagged <a href="">Tag</a>, <a href="">Tag</a>, <a href="">another tag</a>, <a href="">yadda yadaa</a>
							
							<div class="post-comments-badge">
								<a href=""><i class="fa fa-comments"></i> number of comments</a>
							</div><!-- post-comments-badge -->
		    			</div><!-- post-details -->
		    		</header>
		    		<div class="post-image">
		    			<img src="<%=campground.image %>">
		    		</div><!-- post-image -->
		    		<div class="post-excerpt">
		    			<p><%=campground.description %></p>
		    		</div><!-- post-excerpt -->

		    	<div class="comments">

			    	 <h3>Comments</h3>
			    	  
			    	  <a class="btn btn-success" href="#"> Add New Comments</a>
			    	  
			    	  <% campground.comments.forEach(function(comment){ %>
			    	  
			    	  <div class= "col-sm-12 comments">
				    	  <div class= "comment">
				    	  <p><%= comment.text %> <span class="pull-right days"> 10 days ago</span></p> 
				    	  <small><i><%= comment.author.username  %></i></small>
				    	  <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
				    	  <div class= "pull-right">
					    	  <a class="btn btn-xs btn-warning" href = "/campgrounds/<%=campground._id%>/comments/<%=comment._id %>/edit"> Edit</a>
					    	  <form id="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id %>?_method=DELETE" method="POST">
					    	  <button  class= "btn btn-xs btn-danger"> Delete</button>
				    	  </div>
				    	  <% } %> 
			       	  </div>
			    	  </div>
			    	   <% })%>
		    	  </div>

		    	</article><!-- post -->

                 </main>
                 	</div>
		    	</div>
		    	</section>
		    	
<% include ../partials/footer %>		    	