<%= form_with(model: @profile, local: true) do |form| %>
  <% if @profile.errors.any? %>
    <% @profile.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :header %>
    <%= form.text_area :header, id: :header_body, class: "form-control", placeholder: "Header" %>
  </div>

  <div class="form-group">
    <%= form.submit "Confirm", class: "btn btn-primary" %>
  </div>
<% end %>
