- individual ||= false

- if individual
  = content_tag_for :div, user do
    %h2
      = t('user') + ':'
    .created_at
      = t('date created') + ':'
      = l(user.created_at, :format => :short)
    %h3= t('comments')
    %ul.comments
      - user.comments.each do |c|
        = content_tag_for :li, c do
          .created_at=    l(c.created_at, :format => :short)
          .body=          simple_format c.body
          .commentable=   link_to c.commentable.class.to_s + ': ' + c.commentable.to_s, c.commentable


- else
