.row
  .span7
    = render @user

  .span4.offset1

    .comments
      %h3= t('.comments', user: @user, Xdefault: "Recent comments by #{@user}")
      %ul.unstyled= render @user.comments.recent(10), state: :list_item

    = todo do
      .badges
        %h3 Badges
        %span.badge
          %i.icon-certificate
          bar
        %span.badge.badge-success
          %i.icon.icon-certificate
          foo
        %span.badge.badge-warning
          %i.icon.icon-certificate
          baz
        %span.badge.badge-important
          %i.icon.icon-certificate
          nono


