!!!
%html
  %head
    %title TestRespondWithPolymorphic
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = render :partial => 'users/userbox'
      = render :partial => 'languages/menu'
      - flash.each do |name, msg|
        %div
          = msg

      = yield