mixin formGroup(name, label, type, value, placeholder)
  div(class="form-group")
    label(for=name) #{label}
    input(id=name class="form-control" name=name value=value type=type placeholder=placeholder)

input(type='hidden' name="_csrf" value=csrfToken)
+formGroup('firstName', 'First Name:', 'text', firstName)
+formGroup('lastName', 'Last Name:', 'text', lastName)
+formGroup('email', 'Email:', 'email', email, 'Enter Email')
+formGroup('password', 'Password:', 'password')
+formGroup('confirmedPassword', 'Confirm Password:', 'password')
