<%
  languages = RefinerySetting.find_or_create_by_name(:name => 'menu_languages', :value => [
    {:name => 'Fr', :locale => :fr , :url => '/'}, 
    {:name => 'En', :locale => :en , :url => '/en'}
  ]).value
-%>  
<nav id="<%= dom_id %>" class="<%= css %>">
  <ul>
    <% for l in languages do %>
      <li class="<%= l[:locale] %> <%= 'selected' if (locale == l[:locale]) %>"><%= link_to l[:name], l[:url] %></li>
    <% end %>   
  </ul>
</nav> 
