
mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin textField(labelText, fieldName, fieldValue, isMultiline, placeholder)
  div(class='form-group')
    label(for=fieldName)= labelText
    if isMultiline
      textarea(id=fieldName name=fieldName class='form-control' rows='5')= fieldValue
    else
      input(type='text' id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')
