<div class="flex flex-center h100 bg-{{bgColor}}">
  <div class="mx-auto">
    <h1 class="h00 {{textColor}}">
      {{fibValue}}
    </h1>
  </div> <br>
</div>
<div class="flex border-top center nowrap">
  <div class="flex-auto align-center">
    <button {{action 'decreaseValue'}} class="button h1 py2 block full-width button-transparent">{{material-design-icon name='remove'}}</button>
  </div>
  <div class="flex-none align-center">
    <button {{action 'toggleEdit'}} class="button h1 py2 block full-width button-transparent border-left">
      {{#if isEditing}}
        {{material-design-icon name='clear'}}
      {{else}}
        {{material-design-icon name='more-vert'}}
      {{/if}}
    </button>
  </div>
  <div class="flex-auto align-center">
    <button {{action 'increaseValue'}} class="button h1 py2 block full-width button-transparent border-left">{{material-design-icon name='add'}}</button>
  </div>
</div>
{{#if isEditing}}
  <div class="border-top px1 py2 bg-{{bgColor}} {{textColor}} caps" id="form">
    <div class="container">
      <label>Background Color</label>
      {{#x-select value=bgColor class="block full-width field-light mb1 caps"}}
        {{#each color in colors}}
          {{#x-option value=color class=color}}{{color}}{{/x-option}}
        {{/each}}
      {{/x-select}}

      <label>Text Color</label>
      {{#x-select value=textColor class="block full-width field-light mb1 caps"}}
        {{#each color in colors}}
          {{#x-option value=color}}{{color}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
    <div class="container muted mt3">
      <p class="h6">
        <a href="https://github.com/johnotander/agile-cards" class="{{textColor}}">Crafted</a> with &lt;3 by <a href="http://johnotander.com" class="{{textColor}}">John Otander</a>
      </p>
    </div>
  </div>
{{/if}}
