<div class="spacer">
</div>
<h2 align="center">{{this.title}}</h2>
{{#each products}}
  <div class="row">
    {{#each this}}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img
            src="{{this.imagePath}}"
            alt="{{this.title}}"
            class="img-fluid"
          />
          <div class="caption">
            <h3>{{this.title}}</h3>
            <h6>{{this.category}}</h6>
            <h5><strong> ${{this.price}} </strong></h5>
            <p><a
                href="/cart/{{this._id}}"
                class="btn btn-success"
                style="width:50%"
                role="button"
              ><i class="fas fa-cart-plus"></i> Add to Cart</a></p>
            <p>{{this.description}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}