<!-- Social Icons -->
<ul class="social-links" id="social_side_links">
  <span class="<%= layout %>">
    <li><a target="_blank" href="https://github.com/Jerga99"><%= fa_icon "github", class: "git-icon" %></a></li>
    <li><a target="_blank" href="https://www.facebook.com/filip.jerga"><%= fa_icon "facebook" %></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/filip-jerga-5949b8106/"><%= fa_icon "linkedin" %></a></li>
    <li><a target="_blank" href="mailto:jerga99@gmail.com?subject=PortfolioContact"><%= fa_icon "google" %></a></li>
  </span>
</ul>
