<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'News', news_items_path %></li>
  <% if FeaturesProfile.feature? :cvs %>
    <li><%= link_to 'CVs', cvs_path %></li>
  <% end %>
  <% if FeaturesProfile.feature? :tags %>
    <li><%= link_to 'Tags', tags_path %></li>
  <% end %>

  <li><%= link_to 'Activity log', activities_path %></li>
  <% if FeaturesProfile.feature? :forecasts %>
    <li><%= link_to 'Forecasts', forecasts_path %></li>
  <% end %>
  <% if FeaturesProfile.feature? :edit_account %>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <% end %>
  <li><%= link_to 'Admin', admin_path %></li>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% end %>
