extends layout.pug
  
block content
  if errors
    ul
    each error in errors
      li error

  form(action="/new-person" method="post")
    input(type="hidden" name="_csrf" value=csrfToken required)
    
    label(for="firstName") First name:
    input(type="text" id="firstName" name="firstName" value=firstName required)
    br
    label(for="lastName") Last name:
    input(type="text" id="lastName" name="lastName" value=lastName required)
    br
    label(for="age") Age:
    input(type="number" id="age" name="age" value=age)
    br
    label(for="biography") Biography:
    textarea(id="biography" name="biography" value=biography)
    br
    label(for="hairColorId") Hair Color:
    select(type="select" name="hairColorId" value=hairColorId required)
      option(value="") Please choose:
      //- option(value="Auburn") Auburn
      //- option(value="Black") Black
      //- option(value="Blonde") Blonde
      //- option(value="Brown") Brown
      //- option(value="Other") Other
      //- option(value="Red") Red
      //- option(value="White") White
      option(value=1) Auburn
      option(value=2) Black
      option(value=3) Blonde
      option(value=4) Brown
      option(value=5) Other
      option(value=6) Red
      option(value=7) White
    br
    button(type="submit") Submit!
    
    mixin hairOptions
      each option in options
        option 