<div class="col-md-9 blog-main">
  <span>
    <%= link_to "Write a New Blog", new_blog_path, class: "pull-right" if logged_in?(:site_admin) %>
  </span>

  <%= paginate @blogs %>
  <div class="my-shuffle-container row">

    <%= render @blogs %>
    <div class=" my-sizer-element" style="width: 10px;"></div>

  </div>
  <%= paginate @blogs %>
</div>
<%= render "shared/blog_sidebar" %>


