<div class="container">
  <div class="col-md-10 offset-md-1 blog-main">
    <h2><%= @blog.title %></h2>

    <nav class="breadcrumb">
      <%= link_to "Home", root_path, class: "breadcrumb-item" %>
      <%= link_to @blog.topic.title, topic_path(@blog.topic), class: "breadcrumb-item" %>
      <span class="breadcrumb-item active"><%= @blog.title %></span>

      <span class="float-flex-right">
        <%= link_to fa_icon("pencil-square-o"), edit_blog_path(@blog) if logged_in?(:site_admin) %>
        <%= link_to fa_icon("trash"), @blog, method: :delete, data: {confirm: "Are you sure ?"} if logged_in?(:site_admin) %>
      </span>
    </nav>
    <p><%= markdown @blog.body %></p>

    <%= render "comments/comment_form" %>
    <div id="comments" data-blog-id="<%= @blog.id %>">
      <%= render @blog.comments %>
    </div>
  </div>
</div>

