<%= form_with(model: @portfolio, local: true) do |form| %>
  <% if @portfolio.errors.any? %>
    <% @portfolio.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :portfolio_title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :subtitle %>
        <%= form.text_field :subtitle, id: :portfolio_subtitle, class: "form-control" %>
      </div>

      <div class="form-group">
        <label class="btn btn-primary">
         Upload main image <%= form.file_field :main_image, style: "display: none;" %>
        </label>
      </div>

      <div class="form-group">
        <label class="btn btn-primary">
        Upload thumbnail image <%= form.file_field :thumb_image, style: "display: none;" %>
        </label>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field form-group">
        <%= form.label :body %>
        <%= form.text_area :body, id: :portfolio_body, class: "form-control", rows: 10 %>
      </div>
    </div>

    <div class="col-md-6">
      <h2>Technologies Used: </h2>
      <div>
        <%= form.fields_for :technologies do |technology_form|%>
          <%= render "technology_fields", f: technology_form %>
        <% end %>

        <div>
          <%= link_to_add_association "Add Technology", form, :technologies %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
