<div class="col-md-3 mt-4">
  <%= link_to portfolio_show_path(portfolio_item) do %>
    <div class="card" data-id="<%= portfolio_item.id %>">
      <%= image_tag portfolio_img(portfolio_item.thumb_image, "thumb"), width: "100%", class: "card-img-top" %>
      <div class="card-block">
        <h4 class="card-title"><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></h4>
        <div class="meta">
            <a href="#"><%= portfolio_item.subtitle %></a>
        </div>
        <div class="card-text">
            <%= truncate portfolio_item.body, length: 50 %>
        </div>
      </div>
    </div>
  <% end %>
</div>

