
<h1>Portfolios Angular</h1>

<%= link_to("Create new portfolio", new_portfolio_path ) %>

<% @angular_portfolio_items.each do |portfolio| %>
  <%= link_to(portfolio.title, portfolio_show_path(portfolio)) %>
  <%= link_to("Edit", edit_portfolio_path(portfolio)) if logged_in?(:site_admin) %>
  <%= link_to("Delete", portfolio, method: :delete, data: {confirm: "Are you sure ?"}) if logged_in?(:site_admin) %>
  <p><%= portfolio.subtitle %></p>
  <p><%= portfolio.body %></p>
  <%= image_tag(portfolio.main_image) if portfolio.main_image.present? %>
<% end %>
