<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-5">
      <h1><%= image_tag portfolio_img(@portfolio.main_image, "main"), width: '100%' %></h1>
    </div>
    <div class="col-md-7">
      <h1 class="portfolio-title"><%= @portfolio.title %></h1>
      <hr>

      <p class="portfolio-subtitle"><%= @portfolio.subtitle %></p>
      <p><%= markdown @portfolio.body %></p>
      <hr>

      <h3 class="portfolio-tech">Technology Used: </h3>

      <% @portfolio.technologies.each do |tech|  %>
        <p><%= tech.name %></p>
      <% end %>
      <% if logged_in?(:site_admin) %>
        <%= link_to "Edit item", edit_portfolio_path(@portfolio), class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
