= simple_form_for Tagging.new do |f|
  = f.hidden_field :taggable_id,  value: resource.id
  = f.hidden_field :taggable_type,  value: resource.class.name
  = f.hidden_field :tag_list,  value: tag.name
  = f.hidden_field :tag_field,  value: tag_field
  = f.button :button, data: { purpose: "add-tag-to-my-#{ tag_field }-action" }, class: 'btn btn-default btn-sm' do
    %span.glyphicon.glyphicon-plus-sign
    = text

