.first.column
  .meaning
    = render 'expressions/show/meaning'
  .source
    = render 'expressions/show/source'
  .author_expressions
    = render 'expressions/show/author_expressions', expressions: author_expressions

.second.column
  .translations{ data: { purpose: 'translations-list' } }
    = render 'expressions/show/translations', parent: @expression
    = render 'modals/add_translation', parent: @expression


.third.column
  .comments
    = render 'expressions/show/comments'
    = render 'modals/add_comment', parent: @expression

