.manage.menu
  = render 'expressions/ui/destroy'
  = render 'expressions/ui/edit'
  = todo :span do
    = render 'expressions/ui/flag'
    = render 'modals/flag_expression'

=todo do
  .share.menu
    = render 'expressions/ui/share'
