.tags
  %h3 Tags
  %p
    Yours:
    - 5.times do |n|
      %span.label.label-info{style: 'line-height: 2'}= link_to "mytag #{n}", '', style: 'color: inherit'
  %p
    Others:
    - 15.times do |n|
      %span.label{style: 'line-height: 2'}= link_to "tag #{n}", '', style: 'color: inherit'
  %p
    =link_to '#modal-tags', class: 'btn btn-info', :'data-toggle' => :modal do
      %i.icon-tags
      add some tags
  = render 'modals/tag_expression'
