.article{:class => article.status}  
  = render 'articles/meta', :article => article  
      
  %h3.title
    - if controller.controller_name == 'blog'
      = link_to article.title, article
    -else
      = article.title

  .body
  
    - if controller.controller_name == 'blog'
      = article.intro
      = link_to 'Read >', article
      
    - else
      = article.body
      = link_to '< Back', root_path            

      .comments
        %h3 Comments
        #comments
          = render article.comments
      - if user_signed_in?
        = render 'comments/form', :comment => Comment.new(:commentable => article)
      - else
        = link_to "Sign in", new_session_path(resource_name)
        or
        = link_to "sign up", new_registration_path(resource_name)
        to discuss this article
