.meta
  %ul
    %li.author
      written by: 
      = link_to article.author, article.author  
    %li.created-at
      created: 
      = time_ago_in_words(article.created_at)
      ago
    %li.updated-at
      updated:
      = time_ago_in_words(article.updated_at)
      ago
    %li.comments-count
      = link_to article.comments.count.to_s + pluralize(article.comments.count,'comments', 'comment'), article_path(article, :anchor => "comments")
      
    -if can? :update, article
      %li.edit    
        = link_to 'Edit', edit_article_path(article)
      
