<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to(blog.title, blog_path(blog)) %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words blog.created_at, Time.now %> by <span class= "font-italic">Filip Jerga</span> </p>
  <%= render partial: "blogs/admin_actions", locals: {blog: blog} %>
  <span class="blog-body-p">
    <%= markdown(truncate blog.body, length: 512) %> <%= link_to "Read more", blog_path(blog)  %></a>
  </span>
</div>
