{{#if isNewRental}}
  <div class="alert alert-success">
    Rental successfuly created!
  </div>
{{/if}}
<section id="rentalShow">
  <div class="row top-section">
    <div class="col-md-6">
      <img class="rental-image" src={{model.image.url}} />
    </div>
    <div class="col-md-6">
      {{location-map location=model.city}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 rental-desc">
      <div class="user-info-container float-right">
        {{gravatar-image
          email="{{model.user.email}}"
          class="user-image float-right"
        }}
        <p>{{model.user.email}}</p>
      </div>
      <div class="type {{model.category}}">{{rental-property-type
          model.category
        }}
        {{model.category}}</div>
      <div>
        <h2 class="title">{{model.title}}</h2>
      </div>
      <div class="detail location">{{model.city}}</div>
      <div class="detail-section">
        <div class="room-info">
          <span>{{fa-icon "building"}} {{model.bedrooms}} bedrooms</span>
          <span>{{fa-icon "users"}}
            {{count-guests model.bedrooms 2}}
            guests</span>
          <span>{{fa-icon "bed"}} {{multiply model.bedrooms 2}} beds</span>
        </div>
        <p class="description">{{model.description}}</p>
        {{create-booking
          user=user
          rental=model
          booking=booking
          reloadBooking=(action "reload")
        }}
      </div>
    </div>
  </div>
</section>