mixin project(project)
  .project
    .project-img
      img(src=project.imageUrl alt=project.title)
      .project-link
        a(href=project.link) View Demo
    .project-desc
      .title-wrapper
        .project-title= project.title
        .icon(title="View Demo")
          a(href=project.link)
            include ../svg/link.svg
      .chips
        each chip in project.chips
          .chip= chip
      .project-text= project.text


aside(class="vertical-sidebar")
    .vertical-logo
      .icon
        a(href="#home")
          include ../svg/anchor.svg
    .vertical-menu
      nav.home-navigation
        .nav-item
          a(href="#home" data-i18n="nav:home") Home
        .nav-item
          a(href="#projects" data-i18n="nav:projects") Projects
        .nav-item
          a(href="#about" data-i18n="nav:aboutMe") About Me
        .nav-item
          a(href="#contact" data-i18n="nav:contact") Contact
    .vertical-social
      .icon
        a(href="https://github.com/Knochenmark" title="github")
          include ../svg/github.svg
      .icon.codepen
        a(href="https://codepen.io/Knochenmark" title="codepen")
          include ../svg/codepen.svg
section(id="projects")
  article
    h1(data-i18n="nav:projects") Projects
    .project-list
      //- projects is part of the data object that is passed to the pug files. See "data.json"
      each project in projects
        +project(project)
section(id="about")
  article
    h1(data-i18n="nav:aboutMe") About Me
    p.
      Hi, I'm Mark! You know what I love most about my portfolio? It's about me. You might think #[span(class="whois") "Who's this self-absorbed guy?"]. Well, thanks for this question, but I'll answer another question first. Yes, I'm good at what I do and when you love yourself, you can't help but love your craft. I like things functional and minimalistic. That's me in a nutshell. If you dont like my stuff, build your own playground, but if you enjoyed it and want to know more, just drop me a line. - Mark
section(id="contact")
  article
    h2(data-i18n="contact:thanks") Thanks for coming by!
    .contact-content(data-i18n="contact:text") I’m always open for a chat so feel free to contact me.
    .email
      span(data-i18n="contact:sayHi") Say hi
      a(href="mailto:marktodd.hl@gmail.com") marktodd.hl@gmail.com
//- Footer
include ../includes/footer
