%h2 Sign up options

%hr

%h3 Option 1: Choose a service to authenticate
%p 
  Easy and secure, no need for a new password
  %strong (recommended)
    
= render 'authentications/providers'


%hr

%h3 Option 2: Create an account specific to this site

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| 
  = devise_error_messages! 

  .field
    = f.label :email 
    = f.email_field :email 
  
  .field
    = f.label :display_name 
    = f.text_field :display_name 

  .field
    = f.label :password 
    = f.password_field :password 

  .field
    = f.label :password_confirmation 
    = f.password_field :password_confirmation 

  .actions
    = f.submit "Sign up" 

%hr

= render :partial => "devise/shared/links" 
