%div{ data: { purpose:'tag_merger'} }
  = simple_form_for(Tag.new, url: merge_tags_path, method: :post)  do |f|
    = f.hidden_field :id, value: params[:id]
    = f.input :absorb_a_tag do
      = select_tag 'slave_tag', options_for_select(mergable_tags.map{ |t| [t.name, t.id]  })

    = f.button :button, 'ᗧ••• Absorb it !', data: { confirm: "Are you sure ?" }


