
= simple_form_for Tagging.new do |f|
  = f.simple_fields_for :tag do |t|
    = t.input :name
  = f.input :taggable_type, :input_html => { :value => taggable.class }, :as => :hidden
  = f.input :taggable_id, :input_html => { :value => taggable.id }, :as => :hidden
  = f.button :submit, :class => :"btn-large"

= javascript_include_tag 'taggings/_form'