
%div{ the('timesheet') }

  %h2 Timesheet for #{ timesheet.year }-#{ timesheet.month }
  = facts

  .time_spent
    %span{ the('total-hours-count') }
      #{ total_hours_count  } hours

    %span{ the('total-minutes-count') }
      (#{ total_minutes_count} minutes)
