<h3>Ou souhaitez-vous manger aujourd'hui ?</h3>
{{#if loaded}}
  {{#if alreadyVoted}}
  <div class="alert alert-success">
    <strong>Votre vote a bien été pris en compte.</strong> Vous recevrez le résultat vers midi.
  </div>
  {{else}}
    {{#with foodMeeting}}
    <form>
    <div class="venues">
      {{#each venues}}
      <label class="venue clearfix" data-id="{{venue.id}}">
        <div class="checkbox">
          <input type="radio" name="venue" value="{{venue.id}}">
        </div>
        <div class="venue-icon">
          {{#each venue.categories}}
          <img class="picture" src="{{icon.prefix}}bg_88{{icon.suffix}}" width="32" height="32">
          {{/each}}
          <span class="rating">
            {{venue.rating}}
            {{#unless venue.rating}}-{{/unless}}
          </span>
        </div>
        <div class="venue-details">
          <div class="name"><a href="{{venue.canonicalUrl}}" target="_blank">{{venue.name}}</a></div>
          {{#if venue.location.distance}}
            <div class="address">
              <i class="icon-map-marker"></i> <strong>{{venue.location.distance}}m</strong>
              {{#if venue.location.address}}
                <br>
                {{venue.location.address}} - {{venue.location.city}}
                <a href="https://maps.google.com/maps?q={{venue.location.address}} - {{venue.location.city}}&dirflg=w" target="_blank"><i class="icon-hand-right"></i></a>
              {{/if}}
            </div>
          {{/if}}
        </div>
      </label>
      {{/each}}
    </div>

    <p><input type="submit" class="btn btn-primary" value="Voter"></p>

    </form>
    {{/with}}
  {{/if}}
{{else}}
<div class="loader">
  <i class="icon-spinner icon-spin"></i> Chargement en cours...
</div>
{{/if}}