- sidex = 5
- sidey = 5
- sizes = 4
- colors = 7

%input{:type => "radio",:checked=>"checked", :name=>"tool", :value=>"size-tool-up", :id=>"size-tool-up"}
%input{:type => "radio", :name=>"tool", :value=>"size-tool-down", :id=>"size-tool-down"}
  
- (1..colors).each do |c|
  %input{:type => "radio", :name=>"tool", :value=>"#{c}", :id=>"c#{c}-tool"}
  
- (1..sidex).each do |i|
  - (1..sidey).each do |j|
    %input{:type => "radio", :name=>"l#{i}i#{j}", :checked=>"checked", :value=>"0", :id=>"l#{i}i#{j}s0"}
    %input{:type => "radio", :name=>"l#{i}i#{j}color", :checked=>"checked", :value=>"1", :id=>"l#{i}i#{j}c1"}    
    - (1..sizes).each do |s|
      %input{:type => "radio", :name=>"l#{i}i#{j}", :value=>"#{s}", :id=>"l#{i}i#{j}s#{s}"}      
    - (2..colors).each do |c|
      %input{:type => "radio", :name=>"l#{i}i#{j}color", :value=>"#{c}", :id=>"l#{i}i#{j}c#{c}"}

.toolbar
  %label{:class => "tool",:for=>"size-tool-up"}
  %label{:class => "tool",:for=>"size-tool-down"}   
  - (1..colors).each do |c|
    %label{:class => "tool color-tool c#{c}-tool",:for=>"c#{c}-tool"} 
.turn-grid.turn-left 
.turn-grid.turn-right
.world-grid
  - (1..sidex).each do |i|
    .world-line
      - (1..sidey).each do |j|
        %label{:for=>"l#{i}i#{j}s0", :class=>"world-item size-0"}
          - (1..sizes).each do |s|
            %label{:for=>"l#{i}i#{j}s#{s}", :class=>"world-item size-#{s}"}
          - (1..colors).each do |c|
            %label{:for=>"l#{i}i#{j}c#{c}", :class=>"world-item color-#{c}"}