<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <%= f.input :email, :label => "Email*" %>
    <%= f.input :password, :label => "Password*" %>

    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, :label => "Always keep me logged in", :as => :boolean %>
    <% end -%>

    <p><%= f.submit "Sign in" %></p>

<% end %>

<h2>Sign in with</h2>
<%= render :partial => "devise/shared/social" %>

<%= render :partial => "devise/shared/forgot_password" %>

