= simple_form_for Comment.new do |f|
  = f.input :body
  = f.input :commentable_type, :input_html => { :value => commentable.class }, :as => :hidden
  = f.input :commentable_id, :input_html => { :value => commentable.id }, :as => :hidden
  = f.button :submit, :class => :"btn-large"