= simple_form_for Tag.new do |f|
  = f.input :name
  = f.input :taggable_type, :input_html => { :value => taggable.class }, :as => :hidden
  = f.input :taggable_id, :input_html => { :value => taggable.id }, :as => :hidden
  = f.button :submit, :class => :"btn-large"