- wrapper     ||= :div
- individual  ||= false

- if individual == true
  %h3= "Tag \"#{tag.name}\""
  %h4 Projects
  %ul=render tag.projects, :wrapper => :li
  %h4 Tasks
  %ul=render tag.tasks, :wrapper => :li

-else
  = content_tag_for wrapper, tag do
    .title= link_to tag, tag
    .actions= link_to 'x', tag, :method => :delete