- let n_rows = 8, n_cols = 21, n_dots = 7;
- let m = n_rows*n_cols;

style
	- for(let j = 0; j < n_cols; j++)
		| .cell:nth-child(#{n_cols}n + #{j + 1}) { --i: #{j} }
	- for(let j = 0; j < n_rows; j++)
		| .cell:nth-child(n + #{n_cols*j + 1}) { --j: #{j} }
	- for(let j = 0; j < n_dots; j++)
		| .dot:nth-child(#{j + 1}) { --idx: #{j} }
.grid(style=`--n-rows: ${n_rows}; --n-cols: ${n_cols}; --n-dots: ${n_dots}`)
	- for(let i = 0; i < m; i++)
		.cell
			- for(let j = 0; j < n_dots; j++)
				.dot