<h2>Création d'un rendez-vous du midi</h2>
<ul class="breadcrumb">
  <li>Inscription <span class="divider">/</span></li>
  <li class="active">Choix des restaurants <span class="divider">/</span></li>
  <li>Invitation des collègues</li>
</ul>

<form>
  <div class="venues">
    {{#each collection}}
    <label class="venue clearfix" data-id="{{venue.id}}">
      <div class="checkbox">
        <input type="checkbox" name="{{venue.id}}">
      </div>
      <div class="venue-icon">
        {{#each venue.categories}}
        <img class="picture" src="{{icon.prefix}}bg_88{{icon.suffix}}" width="32" height="32">
        {{/each}}
        <span class="rating">
          {{venue.rating}}
          {{#unless venue.rating}}-{{/unless}}
        </span>
      </div>
      <div class="venue-details">
        <div class="name"><a href="{{venue.canonicalUrl}}" target="_blank">{{venue.name}}</a></div>
        {{#if venue.location.distance}}
          <div class="address">
            <i class="icon-map-marker"></i> <strong>{{venue.location.distance}}m</strong>
            {{#if venue.location.address}}
              <br>
              {{venue.location.address}} - {{venue.location.city}}
              <a href="https://maps.google.com/maps?saddr={{../../../position.coords.latitude}},{{../../../position.coords.longitude}}&daddr={{venue.location.address}} - {{venue.location.city}}&dirflg=w" target="_blank"><i class="icon-hand-right"></i></a>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </label>
    {{/each}}

    {{#unless collection}}
      {{#if locationError}}
        <div class="alert alert-error" style="text-align: center">
          <p>Erreur lors de localisation</p>
          <button class="btn retry"><i class="icon-refresh"></i> Réessayer</button>
        </div>
      {{else}}
        <div class="loader">
          <i class="icon-spinner icon-spin"></i> Localisation en cours...
        </div>
      {{/if}}
    {{/unless}}
  </div>

  {{#if collection}}
  <input type="submit" class="btn btn-primary" value="Continuer">
  {{/if}}
</form>