!!!
%html

  %head
    %title Distinctions Fines
    =stylesheet_link_tag    "application"
    =stylesheet_link_tag    controller.controller_name    
    =javascript_include_tag "application"
    =csrf_meta_tags
    
    
  %body
    #pg
      =render 'userbox'    
      #hd
        %h1= link_to 'Distinctions fines', root_path

        
      #bd
      
        #main
          = yield
          
        #aside
        
          -if notice
            .box.notice= notice
            
          -if alert  
            .box.alert=  alert
          
          .box.last-articles
            %h3 Last articles
            %ul
              - for a in last_articles do
                %li= link_to a, a
                
          .box.last-comments
            %h3 Last comments
            %ul
              - for c in last_comments do
                = render :partial => 'comments/compact', :locals => {:comment => c}
    

