%h1 Listing users

%table
  %tr
    %th Display name
    %th Created at
    %th Updtated at
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.display_name
      %td= user.created_at
      %td= user.updtated_at
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
