%p#notice= notice

%h2
  Public profile: 
  =@user.display_name
%hr
%p
  %b Display name:
  = @user.display_name
%p
  %b Created at:
  = @user.created_at
%p
  %b Updtated at:
  = @user.updtated_at


-if can? :update, @user
  %hr
    %ul
      %li= link_to 'Update my details', edit_user_path(@user)


