<% include ../partials/header %>


    <section id="hero" data-type="background" data-speed="2">
		<article>
		<div id="mycontainer" class="container clearfix">
			
				<h1>Welcome to YelpCamp</h1>
<p>View Our Hand-Picked CampGrounds From All Over The World</p>
<a class="btn btn-large btn-primary" href="campgrounds/new">Add New Campground</a>
			 <!-- row -->
		</div>
		<!-- container -->
		</article>
	</section>
	
	<section id="optin">
	<div class="container">
		<div class=row>
			<div class="col-sm-8">
				<p class="lead"><strong>Subscibe to our mailing list</strong> We will send something special as a thank you.</p>
			</div>
			<!-- col -->
			<div class="col-sm-4">
			<button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">Click here to subscibe</button>
				
			</div>
			<!-- col -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
	</section>

    <div id="myrow" class= "row">
            <div class="col-lg-12">
                <h3></b>Our Most Popular CampGrounds</b></h3>
            </div>
        </div>
    
    <section id="show">
    <div class= "container camps-container">
    
     <div class= "row text-center" style = "display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6"> 
                <div class"hoverthumb">
                    <div  class="thumbnail">
                      <img class= "showImg" src= "<%= campground.image %>">
                        <div class="caption campground-name">
                           <h4> <%= campground.name %>  </h4> 
                        </div>
                        <p>
                            <%= (campground.description).substring(0,100) %>  ...
                        </p>
                        <div class="col-md-6">
                        <p class="pull-left"> <i><%= campground.date %></i> </p>
                       </div>
                       <div class="col-md-6">
                           <% if(campground.rank != null) { %>
                       <p class="pull-right"><i><%= campground.rank %> / 5 </i></p>
                       <% } else { %>
                       <p class="pull-right"><i>No Rank </i> </p>
                       <% } %>
                       
                       </div>
                            <a href= "/campgrounds/<%= campground._id %>" class= "btn btn-primary thumbnail-button ">Read More</a>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
</div>
</section

<% include ../partials/footer %>