<% include ../partials/header %>

<section id="campdescription">
<div class="container">
	    <div class="row" id="primary">
	    
		    <main id="content" class="col-sm-8" role="main">
		    	
		    	<article class="post">
		    		<header>
		    			<div class="row">
		    			<div class="col-md-10">
			    			<h3><a href="#"><%= campground.name %></a></h3>
			    		</div>
			    		
			    		<div class="col-md-2">
	     				  	 <% if(campground.rank != null) { %>
	   						 <span class="pull-right camprating"> <%= campground.rank.toFixed(2) %>  </span>
	 						 <%  } %>
  						</div>
    </div>
		    			<div class="post-details">
			    			<i class="fa fa-user"></i> <%= campground.author.username %>
							<i class="fa fa-clock-o"></i> <time><%= campground.date %></time>
							<i class="fa fa-folder"></i> <a href="">Hiking</a>, <a href="">Travels</a>
							<i class="fa fa-tags"></i> Tagged <a href="">Tag</a>, <a href="">Tag</a>, <a href="">another tag</a>, <a href="">yadda yadaa</a>
							
							<div class="post-comments-badge">
								<a href=""><i class="fa fa-comments"></i> number of comments</a>
							</div><!-- post-comments-badge -->
		    			</div><!-- post-details -->
		    		</header>
		    		<div class="post-image">
		    			<img src="<%=campground.image %>">
		    		</div><!-- post-image -->
		    		<div class="post-excerpt">
		    			<p><%=campground.description %></p>
		    		</div><!-- post-excerpt -->
		    		
	 <div class=container style= "max-width:100%">
       <div class="row comment-and-rate">
      	
      		<div class ="col-sm-8 col-rating">
			    <h3>Comments</h3>
			  </div>
      	
      <div class ="col-sm-4 col-rating">
      <form action="/campgrounds/<%= campground._id %>/rank" method="POST"> 
<fieldset class="rating">
    <input type="radio" id="star5" name="rank" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rank" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rank" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rank" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rank" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rank" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rank" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rank" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rank" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rank" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
    <button class= "btn btn-success "type="submit" >Submit</button>
     </form>
</fieldset>
      </div>
		 </div>
			</div>
			    	 <div class="comments">
			    	  
			    	  <a class="btn btn-success" href="/campgrounds/<%=campground._id %>/comments/new"> Add New Comments</a>
			    	  
			    	  <% campground.comments.forEach(function(comment){ %>
			    	  
			    	  <div class= "col-sm-12 comments">
				    	  <div class= "comment mycomment">
				    	  <p><%= comment.text %> <span class="pull-right days"> 10 days ago</span></p> 
				    	  <small><i><%= comment.author.username  %></i></small>
				    	  <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
				    	  <div class= "pull-right">
					    	  <a class="btn btn-xs btn-warning" href = "/campgrounds/<%=campground._id%>/comments/<%=comment._id %>/edit"> Edit</a>
					    	  <form id="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id %>?_method=DELETE" method="POST">
					    	  <button  class= "btn btn-xs btn-danger"> Delete</button>
				    	  </div>
				    	  <% } %> 
			       	  </div>
			    	  </div>
			    	   <% })%>
		    	  </div>

		    	</article><!-- post -->

                 </main>
                 	</div>
		    	</div>
		    	</section>
		    	
<% include ../partials/footer %>		    	