<%
  with_images ||= false
  img_width   ||= 50
  img_height  ||= img_width
%>

<ul class="speakers <%=  with_images ? 'with_images' : 'without_images' %>">
  <% speakers.each do |speaker| %>
    <li>
      <%= link_to speaker, :style => "width: #{img_width.to_i}px; height: #{img_height.to_i+40}px" do %>

        <% if with_images %>
            <section class="speaker_image image-nofx">
            <% if (image=speaker.image).present? %>
            	<%= image_fu image, "#{img_width}x#{img_height}#c" %>
            <% else %>
              <%= image_tag('silhouette_50.png', :size =>  "#{img_width}x#{img_height}") %>
            <% end %>
            </section>
        <% end %>

        <%= speaker %>
      <% end %>

    </li>
  <% end %>
</ul>
