<%
	individual ||= false
	speaker_class = individual ?  :individual : :listed
-%>

<%= div_for speaker, :class => speaker_class  do -%>



  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'refinerycms-speakers' %>
  <% end %>

  <% if individual %>

    <h2>
      <%= speaker.firstname %> <%= speaker.lastname %>
    </h2>

    <% if (image=speaker.image).present? %>
      <section class="speaker_image">
        <p>
      	<%= image_fu image, "150x150#c", :class => 'image-nofx' %>
        </p>
      </section>
    <% end %>

    <% if (description=speaker.description).present? %>
      <section>
        <%# <h3><%= t('.description') % ></h3> %>
        <%=raw description %>
      </section>
    <% end %>

    <% if (events=speaker.events).any? %>
      <section>
        <h3><%= t('.events')  %> avec <%= speaker.firstname %> <%= speaker.lastname %></h3>
        <%= render 'events/list', :events => events %>
      </section>
    <% end %>







  <% else %>

    <a href="<%= speaker_path(speaker) %>">
      <%= speaker.firstname %>
      <%= speaker.lastname %>
    </a>

  <% end %>
<% end %>  
