<% content_for :body_content_title do %>
  <%= @speaker.firstname %>   <%= @speaker.lastname %>
<% end %>

<% content_for :body_content_left do %>
  <%= render @speaker, :individual => true %>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <%= render 'speakers/list', :speakers => @speakers, :with_images => true, :img_width => 30  %>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
