<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title a/A Static File Browser
    style
      include style.css
  body
    header
      nav.main-nav
        ul.main-nav__list
          li.main-nav__list-item
            a.main-nav__list-item-link(href="/") top
          each crumb in crumbs
            li.main-nav__list-item
              a.main_nav__list-item-link(href=crumb.relativePath)= crumb.name
    main
      table.file-list
        thead
          tr.file-list__header-row
            th.file-list__header Name
            th.file-list__header Type
        tbody
          each entry in entries
            tr.file-list__data-row
              if entry.isDirectory()
                td.file-list__data
                  a(href=entry.name) #{entry.name}/
                td.file-list__data directory
              else if entry.isFile()
                td.file-list__data
                  a(href=entry.name, target="_blank")= entry.name
                td.file-list__data file
              else
                td.file-list__data= entry.name
                td.file-list__data other
