- comment ||= @comment
= form_for comment, :remote => true do |f|
  -if comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - comment.errors.full_messages.each do |msg|
          %li= msg
          
  = f.hidden_field :commentable_id
  = f.hidden_field :commentable_type

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :comment
    = f.text_area :comment
    
  .actions
    = f.submit 'Save'
