.row

  .span4
    %h2= t :sign_in
    - form_id    = "new_#{resource_name}_session"
    - form_class = "new_#{resource_name}_session"
    = simple_form_for resource,   as:   resource_name,
                                 url:   session_path(resource_name),
                                html: { id: form_id, class: form_class, data: { purpose: 'sign-in-form' } } do |f|
      .inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .actions
      = f.submit_button t :sign_in

    %ul.nav
      %li
        %p= link_to t("devise.shared.forgot_password"), new_password_path(resource_name)
      %li
        %p= link_to t("devise.shared.didnt_receive_confirmation_instructions"), new_confirmation_path(resource_name)
      - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
        %li= link_to t("devise.shared.didnt_receive_unlock_instructions"), new_unlock_path(resource_name)
      - if devise_mapping.omniauthable?
        - resource_class.omniauth_providers.each do |provider|
          %li= link_to t("devise.shared.sign_in_with_omniauth", provider: provider.to_s.titleize), omniauth_authorize_path(resource_name, provider)

  .span4
    %h2= t :sign_up
    = render 'devise/registrations/new_form'
