<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{#link-to "index" class="navbar-brand"}}BookwithMe
    <img src="/ember-logo.png" alt="" />{{/link-to}}
  <div class="form-inline my-2 my-lg-0">
    {{input
      class="form-control mr-sm-2 bwm-search"
      enter="search"
      placeholder="Try 'New York'"
      aria-label="Search"
      value=searchCity
    }}
    <button
      class="btn btn-outline-success my-2 my-sm-0 search-btn btn-bwm-confirm"
      {{action "search"}}
      type="button"
    >Search</button>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      {{#if session.isAuthenticated}}
        <a class="nav-item nav-link">
          Welcome
          <span class="user">{{userService.currentUser.username}}</span></a>
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Owner Section
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {{#link-to "rentals.new" class="dropdown-item"}}
              Create Rental
            {{/link-to}}
            {{#link-to "my-rentals" class="dropdown-item"}}
              Manage Rentals
            {{/link-to}}
            {{#link-to "my-bookings" class="dropdown-item"}}
              Manage Bookings
            {{/link-to}}
          </div>
        </div>
        <a
          class="nav-item nav-link clickable"
          {{action "invalidateSession"}}
        >Logout</a>
      {{else}}
        {{#link-to "login" class="nav-item nav-link"}} Login {{/link-to}}
        {{#link-to "register" class="nav-item nav-link"}} Register {{/link-to}}
      {{/if}}
    </div>
  </div>
</nav>