<h1 class="page-title">Create Rental</h1>
<div class="row session-form">
  <div class="col-md-6">
    {{#bs-form model=rental onSubmit=(action "submit") as |form|}}
      {{form.element
        controlType="text"
        label="Title"
        placeholder="eg. 'Nice Apartment'"
        property="title"
      }}
      {{form.element
        controlType="text"
        label="City"
        placeholder="eg. 'New York'"
        property="city"
        required=true
      }}
      {{form.element
        controlType="text"
        label="Street"
        placeholder="eg. 'Baker Street 1'"
        property="street"
        required=true
      }}
      {{form.element
        controlType="number"
        label="Bedrooms"
        placeholder="eg. '3'"
        property="bedrooms"
        required=true
      }}
      {{form.element
        controlType="textarea"
        label="Description"
        property="description"
      }}
      {{#form.element label="Daily Rate" property="daily_rate" as |el|}}
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$</div>
          </div>
          <input
            value={{el.value}}
            class="form-control"
            placeholder="eg. '32'"
            oninput={{action (mut el.value) value="target.value"}}
            onchange={{action (mut el.value) value="target.value"}}
            id={{el.id}}
            type="text"
          />
        </div>
      {{/form.element}}
      {{form.element
        controlType="power-select"
        property="category"
        label="Category"
        options=communityPropertyTypes
      }}
      {{form.element
        class="form-group"
        controlType="checkbox"
        label="Shared"
        property="shared"
      }}

      <div class="form-group">
        <label for="image" class="control-label">Image</label>
        <div>
          {{#file-upload
            name="photos"
            accept="image/jpg, image/png, 'image/jpeg"
            onfileadd=(action "uploadImage" newRental)
          }}
            <a
              id="upload-image"
              class="btn btn-primary btn-bwm btn-image"
              tabindex="0"
            >Add an Image</a>
          {{/file-upload}}
        </div>
        {{#if rental.image}}
          <div class="col-md-12 image-name">
            <p>{{rental.image}}</p>
          </div>
        {{/if}}
      </div>

      {{bs-button
        defaultText="Submit"
        type="primary"
        buttonType="submit"
        class="btn-bwm"
      }}
    {{/bs-form}}
    {{#if errorMessages}}
      {{#each errorMessages as |error|}}
        <div class="alert alert-danger">
          {{error.detail}}
        </div>
      {{/each}}
    {{/if}}

  </div>
  <div class="col-md-6 ml-auto">
    <div class="image-container">
      <h2 class="catchphrase">Start earning money now</h2>
      <img src="/create-rental.jpg" alt="" />
    </div>
  </div>
</div>