<h1>Join our community...</h1>
{{#bs-form model=user onSubmit=(action "submit") as |form|}}
  {{form.element
    controlType="username"
    label="Username"
    placeholder="Username"
    property="username"
    required=true
    class="username"
  }}
  {{form.element
    controlType="email"
    label="Email"
    placeholder="Email"
    property="email"
    required=true
    class="email"
  }}
  {{form.element
    controlType="password"
    label="Password"
    placeholder="Password"
    property="password"
    required=true
    helpText="Minimum 6 characters"
    class="password"
  }}
  {{form.element
    controlType="password"
    label="Confirm Password"
    placeholder="Confirm Password"
    property="password_confirmation"
    required=true
    helpText="Minimum 6 characters"
    class="password-confirmation"
  }}
  {{bs-button
    class="btn-bwm"
    defaultText="Submit"
    type="primary"
    buttonType="submit"
  }}
{{/bs-form}}
{{#if errorMessages}}
  {{#each errorMessages as |error|}}
    <div class="alert alert-danger">
      {{error.detail}}
    </div>
  {{/each}}
{{/if}}