<div class="row">
  {{#each rentals as |rental|}}
    <div class="col-md-3 col-sm-6">
      {{#link-to "rentals.show" rental.id class="bwm-card-link"}}
        <div class="card bwm-card">
          <img class="card-img-top" src="{{rental.image}}" alt="" />
          <div class="card-block">
            <h6 class="card-subtitle {{rental.category}}">{{rental-type
                rental.shared
              }}
              {{rental.category}}
              &#183;
              {{rental.city}}</h6>
            <h4 class="card-title">{{rental.title}}</h4>
            <p class="card-text">${{rental.daily_rate}}
              per Night &#183; Free Cancelation</p>
          </div>
        </div>
      {{/link-to}}
    </div>
  {{/each}}
</div>