{{ember-notify closeAfter=4000 messageStyle="bootstrap"}}
<div class="booking">
  <h3 class="booking-price">${{rental.daily_rate}}
    <span class="booking-per-night">per night</span></h3>
  <hr />
  {{#if session.isAuthenticated}}
    <label>Dates</label>
    {{date-range-picker
      ranges=false
      opens="left"
      start=booking.start_at
      end=booking.end_at
      isInvalidDate=(action "validateDate")
      autoUpdateInput=false
    }}
    <div class="form-group">
      <label for="guests">Guests</label>
      {{input
        value=booking.guests
        max=5
        placeholder="5 guests max"
        class="form-control guests"
        type="number"
      }}
    </div>
    {{#if isShowingModal}}
      {{#modal-dialog
        onClose="toggleModal"
        targetAttachment="center"
        translucentOverlay=true
        containerClass="bwm-booking-container"
      }}
        <h2 class="title">Booking confirmation</h2>
        {{#if daysOfStay}}
          <em>{{daysOfStay}}</em>
          nights /
        {{/if}}
        <em>{{rental.daily_rate}}$</em>
        per Night
        <p>Guests: <em>{{booking.guests}}</em></p>
        <p>Price: <em>{{totalPrice}}$ </em></p>
        <p>Do you confirm your booking for selected days?</p>
        <div class="buttons">
          <button
            class="btn btn-primary booking-confirm btn-bwm"
            {{action "createBooking"}}
          >Confirm</button>
          <button
            class="btn btn-primary btn-bwm"
            {{action "toggleModal"}}
          >Cancel</button>
        </div>
        {{#if errorMessages}}
          {{#each errorMessages as |error|}}
            <div class="alert alert-danger">
              {{error.detail}}
            </div>
          {{/each}}
        {{/if}}
      {{/modal-dialog}}
    {{/if}}
    <button
      {{action "toggleModal"}}
      class="btn btn-danger btn-confirm btn-block"
    >Reserve place now</button>
    <hr />
  {{else}}
    {{#link-to "login" class="teaser"}}Login and book this place today.{{/link-to}}
  {{/if}}
  <p class="booking-note-title">People are interested into this house</p>
  <p class="booking-note-text">
    More than 500 people checked this rental in last month.
  </p>
</div>