<div class="rental">
  <h2 class="rental-type {{rental.category}}">{{rental-type rental.shared}}
    {{rental.category}}</h2>
  <div class="rental-owner">
    <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="" />
    <span>{{rental.user.email}}</span>
  </div>
  <h1 class="rental-title">{{rental.title}}</h1>
  <h2 class="rental-city">{{rental.city}}</h2>
  <div class="rental-room-info">
    <span>{{fa-icon "building"}} {{rental.bedrooms}} bedrooms</span>
    <span>{{fa-icon "user"}} {{addition rental.bedrooms 4}} guests</span>
    <span>{{fa-icon "bed"}} {{addition rental.bedrooms 2}} beds</span>
  </div>
  <p class="rental-description">{{rental.description}}</p>
  <hr />
  <div class="rental-assets">
    <h3 class="title">Assets</h3>
    <div class="row">
      <div class="col-md-6">
        <span>{{fa-icon "asterisk"}} Cooling</span>
        <span>{{fa-icon "thermometer"}} Heating</span>
        <span>{{fa-icon "location-arrow"}} Iron</span>
      </div>
      <div class="col-md-6">
        <span>{{fa-icon "desktop"}} Working area</span>
        <span>{{fa-icon "cube"}} Washing machine</span>
        <span>{{fa-icon "cube"}} Dishwasher</span>
      </div>
    </div>
  </div>
</div>