<div class="col-md-6">
  <button
    {{action "toggleModal"}}
    class="btn btn-bwm btn-bookings"
  >Bookings</button>
</div>
{{#if isShowingModal}}
  {{#modal-dialog
    onClose="toggleModal"
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{#each bookings as |booking|}}
      <div class="bookings-inner-container">
        <p><span>Date:</span> {{booking.start_at}} - {{booking.end_at}}</p>
        <p><span>Guests:</span> {{booking.guests}}</p>
        <p><span>Total Price:</span> {{booking.total_price}} $</p>
        <hr />
      </div>
    {{/each}}
  {{/modal-dialog}}
{{/if}}