<section id="userBookings">
  <h1 class="page-title">My Bookings</h1>
  <div class="row">
    {{#each bookings as |booking|}}
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-header">
            {{booking.rental.category}}
          </div>
          <div class="card-block">
            <h4 class="card-title">{{booking.rental.title}}
              -
              {{booking.rental.city}}</h4>
            <p class="card-text booking-desc">{{booking.rental.description}}</p>
            <p class="card-text booking-days">{{booking.start_at}}
              -
              {{booking.end_at}}
              |
              {{booking.days}}
              days</p>
            <p class="card-text booking-price"><span>Price: </span>
              <span class="booking-price-value">{{booking.total_price}}
                $</span></p>
            {{#link-to "rentals.show" booking.rental class="btn btn-bwm"}}Go to
              rental{{/link-to}}
          </div>
          <div class="card-footer text-muted">
            Created
            {{booking.created_at}}
          </div>
        </div>
      </div>
    {{else}}
      <div class="alert alert-warning">
        You have no bookings created go to rentals section and book your place
        today.
        {{#link-to "rentals" class="btn btn-bwm"}}Available rentals{{/link-to}}
      </div>
    {{/each}}
  </div>
</section>