- state ||= :individual

- case state

  - when :individual
    ':individual' state not yet implemented, use ':list_item'

  - when :list_item
    = content_tag_for :li, comment do
      - if can? :destroy, comment
        .actions.pull-right
          = link_to( [comment.commentable, comment], :method => :delete, :title=>:delete, :remote => true) do
            %i.icon-remove-sign.icon-muted
      .body= comment.body

      %small.muted
        - unless current_page?(comment.user)
          %span.author=raw t(:added_by, :author => link_to(comment.user,comment.user))
        %span.ago= t(:time_ago, :time => time_ago_in_words(comment.created_at))

      - unless current_page?(comment.commentable)
        .small.muted.commentable
          - # ˒‹›→‣
          = t(".to_#{dom_class(comment.commentable)}", :Xdefault => "to #{dom_class(comment.commentable)}") + ':'
          = link_to comment.commentable do
            = truncate(comment.commentable.to_s, :length => 30, :separator => ' ')

