%div.timesheet{ the('timesheet') }

  %h2= timesheet_title

  %table
    %thead
      %tr
        - column_names.each do |name|
          %th{ class: name.gsub(' ','-') }= name
    %tbody
      = facts

    %thead
      %tr
        %th.numeric{ colspan: 5 } Totals for this month
    %tbody
      %tr
        %td.numeric{ colspan: 5 }
          %span{ the('total-hours-count') }
            #{ total_hours_count  } hours
          %span{ the('total-minutes-count') }
            = "/"
            #{ total_minutes_count} minutes

