{{ember-notify closeAfter=10000 messageStyle="bootstrap"}}
<p class="reserve-price"><span class="amount">{{rental.daily_rate}}$ </span>
  per night</p>
<button
  class="btn btn-primary clickable btn-reserve"
  {{action "toggleModal"}}
>Reserve</button>

{{#if isShowingModal}}
  {{#modal-dialog
    onClose="toggleModal"
    targetAttachment="center"
    translucentOverlay=true
    containerClass="booking-modal"
  }}
    {{date-range-picker
      ranges=false
      label="Select days of your staying"
      start=booking.start_at
      end=booking.end_at
      applyAction=(action "setDateRange")
      isInvalidDate=(action "validateDate")
      minDate=booking.start_at
    }}
    <div class="form-group">
      <label for="guests">Guest</label>
      {{input
        value=booking.guests
        max=5
        placeholder="5 guests max"
        class="form-control"
        type="number"
      }}
    </div>
    <p>
      {{#if booking.days}}
        {{booking.days}}
        days /
      {{/if}}
      {{rental.daily_rate}}$ Night
    </p>
    <p>Guests:
      {{booking.guests}}
    </p>
    <p>Price: {{multiply rental.daily_rate booking.days}} $</p>
    {{#if errorMessage}}
      {{#each errorMessage as |error|}}
        <div class="alert alert-danger">
          {{error.name}}:
          {{error.detail}}
        </div>
      {{/each}}
    {{/if}}
    <button
      {{action "confirmBooking"}}
      class="btn btn-success clickable"
    >Confirm</button>
    <button
      {{action "toggleModal"}}
      class="btn btn-warning clickable"
    >Close</button>
  {{/modal-dialog}}
{{/if}}