<a class="rental-link" href="/rentals/{{rental.id}}">
  <article class="listing">
    <div
      class="listing-image-container"
      style="background-image: url({{rental.image.url}})"
    >
      <div></div>
    </div>
    <div class="listing-desc-container">
      <p class="type {{rental.category}}">{{rental-property-type
          rental.category
        }}
        {{rental.category}}
        |
        {{rental.bedrooms}}
        bedrooms
      </p>
      <h3 class="title">{{rental.title}}
        {{{is-current-user rental.user.email currentUser.email}}}</h3>
      <p class="price">{{rental.daily_rate}}$ per night</p>
    </div>
  </article>
</a>