<section id="myBookings">
  <h1>My Bookings</h1>
  {{#each orderedBookings as |bookingGroup|}}
    <div class="row">
      {{#each bookingGroup as |booking|}}
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header">
              {{booking.rental.category}}
            </div>
            <div class="card-block">
              <h4 class="card-title">{{booking.rental.title}}
                -
                {{booking.rental.city}}</h4>
              <p class="card-text">{{booking.rental.description}}</p>
              <p class="card-text">{{moment-format
                  booking.start_at
                  "MM/DD/YYYY"
                }}
                -
                {{moment-format booking.end_at "MM/DD/YYYY"}}
                |
                {{booking.days}}
                days</p>
              <p class="card-text"><span>Price:
                </span>{{booking.total_price}}$</p>
              {{#link-to
                "rentals.show"
                booking.rental
                class="btn btn-primary"
              }}Go to rental{{/link-to}}
            </div>
            <div class="card-footer text-muted">
              Created
              {{moment-format booking.created_at "MM/DD/YYYY"}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="alert alert-warning">
      You have no bookings created go and book your place today.
    </div>
  {{/each}}
</section>