<section id="myRentals">
  <h1 class="text-center">My Rentals</h1>

  {{#each orderedRentals as |rentalGroup|}}
    <div class="row">
      {{#each rentalGroup as |rental|}}
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-block">
              <h4 class="card-title">{{rental.title}} - {{rental.city}}</h4>
              {{#link-to "rentals.show" rental class="btn btn-primary"}}Go to
                rental{{/link-to}}
              {{#if rental.bookings}}
                <button
                  onclick={{action "toggleModal"}}
                  data-rental="rental-{{index}}"
                  class="btn btn-success"
                >Bookings</button>
                <div class="bookings-container">
                  {{#each rental.bookings as |booking|}}
                    <div class="bookings-inner-container">
                      <p><span>Date:</span>
                        {{booking.start_at}}
                        -
                        {{booking.end_at}}</p>
                      <p><span>Guests:</span> {{booking.guests}}</p>
                      <p><span>Total Price:</span> {{booking.total_price}} $</p>
                      <hr />
                    </div>
                  {{/each}}
                </div>

              {{/if}}
            </div>
            <div class="card-footer text-muted">
              Created
              {{moment-from-now rental.created_at}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div class="alert alert-warning">
      You have no rentals created go and create your rental now.
    </div>
  {{/each}}
</section>