<div class="signup-form loading-form {{if isLoading "disabled"}}">
  {{#if isLoading}}
    <div class="loader"></div>
  {{/if}}
  <form {{action "submit" on="submit"}}>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=user.name placeholder="enter name" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      {{input value=user.email placeholder="enter email" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      {{input
        value=user.password
        type="password"
        placeholder="enter password"
        class="form-control"
      }}
    </div>
    <div class="form-group">
      <label for="password_confirmation">Password Confirmation</label>
      {{input
        value=user.password_confirmation
        type="password"
        placeholder="enter password again"
        class="form-control"
      }}
    </div>
    <button class="btn btn-primary clickable" type="submit">Register</button>
  </form>
  {{#if successMessage}}
    <div class="alert alert-success">
      {{successMessage}}
    </div>
  {{/if}}

  {{#if errorMessage}}
    {{#each errorMessage as |error|}}
      <div class="alert alert-danger">
        {{error.name}}
        {{error.detail}}
      </div>
    {{/each}}
  {{/if}}
</div>