.row
  .span12
    %h2= (locale==:fr ? "À propos d'Expresto" : "About Expresto")

  .span5

    %h3.first= locale==:fr ? "Auteur" : "Author"
    .avatar.pull-right
      - daniel = User.find(1)
      = link_to(avatar_image_for(daniel), daniel)
    %p
      %b Daniel Reszka
      = (locale==:fr ? "a créé Expresto" : "has created Expresto")
      = (locale==:fr ? "comme projet perso, pour l'apprentissage et pour le fun." : "as a personal project, for learning and fun.")

      %br/

      %dl
        %dt= (locale==:fr ? "Agence web de Daniel:" : "Daniel's web agency:")
        %dd= link_to('Pixarea studio', 'http://studio.pixarea.com')
      %dl
        %dt= (locale==:fr ? "Suivre Daniel sur Twitter:" : "Follow Daniel on Twitter:")
        %dd= link_to('Twitter @pixarea', 'https://twitter.com/#!/pixarea')

    %hr/

    %h3= (locale==:fr ? "Dessins" : "Drawings")
    .avatar.pull-right
      - chloe = User.find(10)
      = link_to(avatar_image_for(chloe), chloe)
    %p
      - if locale==:fr
        <b>Chloé C.</b> a dessiné les personnages de la page d'accueil spécialement pour Expresto.
        Ils viennent de sa bande dessinée <b>"Go get a Roomie"</b>
      - else
        <b>Chloé C.</b> has drawn the cute characters on the homepage specially for Expresto.
        They come straight from her awesome comic strip <b>"Go get a Roomie"</b>

      %dl
        %dt= (locale==:fr ? "Sites de Chloé:" : "Chloé's sites:")
        %dd= raw [ link_to((locale==:fr ? "Portfolio de Chloé" : "Chloé's portfolio"), 'http://www.chloe-art.com'), link_to('Go get a Roomie', 'http://gogetaroomie.chloe-art.com') ].join(', ')
      %dl
        %dt= (locale==:fr ? "Suivre Chloé sur Twitter:" : "Follow Chloé on Twitter:")
        %dd= link_to('Twitter @GoGetaRoomie', 'https://twitter.com/#!/GoGetaRoomie')

  .span6.offset1
    %h3.first= (locale==:fr ? "Code source" : "Source code")

    %dl
      %dt= (locale==:fr ? "Le code source d'Expresto peut être consulté librement:" : "The source code can be freely accessed")
      %dd= link_to((locale==:fr ? "Le projet Expresto sur Github" : "Expresto project on Github"),'https://github.com/danielres/expresto_BDD')

    %hr/

    %h3= (locale==:fr ? "Aspects techniques" : "Technical aspects")

    %p= (locale==:fr ? "Expresto a été construit à 100% avec des logiciels libres:" : "Expresto has been built 100% with free, open source software.")

    %dl
      %dt Environnement
      %dd= link_to 'Linux Mint KDE', 'http://linuxmint.com/'
      %dd= link_to 'Kate text editor', 'http://kate-editor.org/'
    %dl
      %dt= (locale==:fr ? "Graphisme" : "Graphics")
      %dd= raw  [ link_to('Gimp','http://www.gimp.org/'), link_to('Inkscape','http://inkscape.org') ].join ', '
    %dl
      %dt= (locale==:fr ? "Développement" : "Programming")
      %dd
        = (locale==:fr ? "Framework web Ruby:" : "Web Ruby Framework:")
        = link_to('Ruby on Rails','http://rubyonrails.org/')
      %dd
        Gems:
        = raw [ link_to('Devise','https://github.com/plataformatec/devise'), link_to('Cancan','https://github.com/ryanb/cancan'), link_to('Compass','http://compass-style.org/'), link_to('Simple Form','https://github.com/plataformatec/simple_form'), link_to('Inherited Resources','https://github.com/josevalim/inherited_resources') ].join(', ')
      %dd
        = (locale==:fr ? "Tests automatisés:" : "Automated testing:")
        = raw [ link_to('Cucumber','http://cukes.info/'), link_to('Rspec','http://rspec.info/'), link_to('Factory Girl','https://github.com/thoughtbot/factory_girl'), link_to('Capybara','https://github.com/jnicklas/capybara') ].join(', ')
      %dd
        = (locale==:fr ? "Frameworks css/js:" : "css/js frameworks :")
        = raw [ link_to('Twitter Bootstrap','http://twitter.github.com/bootstrap/'), link_to('jQuery','http://jquery.com/') ].join(', ')
      %dd
        = (locale==:fr ? "Jolies icônes:" : "Pretty icons:")
        = link_to('Awesome iconic font','http://fortawesome.github.com/Font-Awesome/')
      %dd
        = (locale==:fr ? "Gestion du code source:" : "Source code version control:")
        = raw [link_to('Git','http://git-scm.com/'),link_to('Github','https://github.com/')].join(', ')
