extends layout.pug

block content
  h3= attraction.attractionName
  h4: em at #{attraction.park.parkName}
  div
    ul
      li= `Theme: ${attraction.theme}`
      li= `Opened: ${attraction.opened}`
      li= `Riders per Vehicle: ${attraction.ridersPerVehicle}`
  div(class='py-4')
      a(class='btn btn-primary' href=`/attraction/edit/${attraction.id}` role='button') Edit
      a(class='btn btn-danger ml-2' href=`/attraction/delete/${attraction.id}` role='button') Delete
      a(class='btn btn-warning ml-2' href=`/park/${attraction.parkId}` role='button') Return to Park Details
  div(class='pt-3 pb-5')
    h3(class='py-2') Attraction Visits
    div(class='py-3')
      a(class='btn btn-success' href=`/attraction/${attraction.id}/visit/add` role='button') Add Visit
    if attraction.visits && attraction.visits.length > 0
      table(class='table table-striped table-hover table-sm')
        thead(class='thead-dark')
          tr
            th(scope='col') Name
            th(scope='col') Visited On
            th(scope='col') Rating
            th(scope='col') Comments
            th(scope='col')
        tbody
          each visit in attraction.visits
            tr
              td #{visit.user.firstName} #{visit.user.lastName}
              td= visit.visitedOn
              td= visit.rating
              td= visit.comments
              td
                //- a(class='btn btn-primary btn-sm' href='#' role='button') Edit
                //- a(class='btn btn-danger btn-sm ml-1' href='#' role='button') Delete
    else
      p: em No visits available for this attraction.
