#modal-flag.modal.hide.fade
  .modal-header
    %button.close{:'data-dismiss'=>:modal, type: :button} x
    %h2
      Report this expression
      %br/
      %small Please flag this expression to report any problem.
  .modal-body
    %h3 What is the problem with this expression ?
    %p{style: 'text-align: center'}= @expression.body
    %form
      %input{type: :radio, name: :flag_type,}= t(:not_an_idiomatic_expression)
      %br/
      %input{type: :radio, name: :flag_type,}= t(:wrong_language)
      %br/
      %input{type: :radio, name: :flag_type,}= t(:orthograph)
      %br/
      %input{type: :radio, name: :flag_type,}= t(:other)
  .modal-footer
    %input{type: :button,value: :submit}
    %input{type: :button,value: :cancel, :'data-dismiss'=> :modal,}
