= simple_form_for (translation || Translation.new), remote: true, html:{ data:{ purpose: 'translation-adder' } } do |f|
  = f.input :body_litteral
  = f.input :body_semantic
  = f.association :language
  = f.button :submit, class: 'btn btn-info', data: { purpose: 'submit-button' }