<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= 
    render :partial => "/shared/head", :locals => {
      :theme => true, 
      :stylesheets => [ 
        'themes/' + pixarea_theme, 
        'themes/' + pixarea_theme + '/' + pixarea_theme_variant 
      ]
    } 
  %>
  <body>
    <%= site_bar -%>
    <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
      
    <div id="page_container">
      <header>      
        <%= yield :header_prepend %>
        <%= render :partial => "/shared/header" -%>
        <%= render :partial => "/shared/menu", :locals => { :dom_id => 'menu', :css => 'menu' } -%>
      </header>
      
      <section id='page'>
      
        <%= yield %>
      </section>
      <footer>
        <%= render :partial => "/shared/footer" -%>
      </footer>
    </div>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
