<%= form_for(@tree, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @tree.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@tree.errors.count, "error") %> prohibited this tree from being saved:</h4>

      <ul>
      <% @tree.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :common_name, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :common_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :scientific_name, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :scientific_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :forest_id, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.number_field :forest_id, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
