<div class="page-header">
  <%= link_to new_tree_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Tree
  <% end %>
  <h1>Listing trees</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Common name</th>
            <th>Scientific name</th>
            <th>Forest</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @trees) do |tree| %>
            <td><%= tree.common_name %></td>
            <td><%= tree.scientific_name %></td>
            <td><%= tree.forest_id %></td>
            <td><%= link_to 'Show', tree %></td>
        <td><%= link_to 'Edit', edit_tree_path(tree) %></td>
        <td><%= link_to 'Destroy', tree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
