<section class="home-page">
  <div class="catcher">
    <div class="container">
      <div class="row">
        <div class="col-md-6 catcher-text">
          <h2>Create Amazing</h2>
          <p>
            I am a full stack developer focused on development of web and smart phones applications.
            I am opened for any interesting project.
          </p>
        </div>
        <div class="col-md-6">
          <%= image_tag "startup.svg", height: "300px" %>
        </div>
      </div>
    </div>
  </div>

<!--     <div class="navigation-second">
      <ul>
        <li><a href="">Portfolio</a></li>
        <li><a href="">Blog</a></li>
        <li><a href="">Cv</a></li>
      </ul>
    </div>
  </div> -->

  <div class="home-container">
    <h1 class="cover-heading home-title hidden">Filip Jerga web development solutions </h1>
    <div class="leading-box">
      <div class="container">
        <h2>You can expect...</h2>
        <span class="home-p"><%= markdown (@profile.header) %></span>
      </div>
    </div>
    <div class="container service-container">
      <div class="row service-row">
        <div class="col-md-4">
          <div class="service">
            <%= fa_icon("connectdevelop") %>
            <p>More than 8 years of programming experience. Knowledge of new modern frameworks. Experience in system architecture.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <%= fa_icon("comments") %>
            <p>Immediate response time. Every step of project is well communicated. Understand client needs is my priority number one.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service">
            <%= fa_icon("signal") %>
            <p>Help you improve your business is my main priority and goal. Development is not finished until client is fully satisfied and happy with product.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
